<!DOCTYPE html>
<html>
  <head>
    <title>Agregar nuevo contacto</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Agregar nuevo contacto</h1>
    <form action="/" method="post">
      <label>
        Nombre:
        <input type="text" name="name" required />
      </label>
      <label>
        Email:
        <input type="email" name="email" required />
      </label>
      <label>
        Teléfono:
        <input type="tel" name="phone" required />
      </label>
      <button type="submit">Agregar contacto</button>
    </form>
  </body>
</html>
